/* remove link styling for results */
#results a {
	text-decoration: none;
	color:inherit;
}

/* main page container */
#container {
	display:flex;
	flex-direction:column;
	justify-content: flex-start;
	align-items: center;
}

#search {
	flex: 0 1 auto;
}

/* list of results */
#results {
	flex: 0 1 auto;
	display:flex;
	flex-direction:column;
	justify-content: flex-start;
	align-items: center;
	width:75%;
}

/* individual result */
.result {
	flex: 0 1 auto;
	border-style:solid;
	border-width:1px;
	margin: 5px;
	padding: 5px;
	width:100%;
}

/* center the title */
.result h3 {
	text-align:center;
}

/* container for search input and buttons */
#query {
	display:flex;
	flex-direction:column;
	justify-content:flex-start;
}

#query input {
	flex: 1 1 auto;
	text-align:center;
}

/* container for buttons */
#buttons {
	flex: 1 1 auto;
	display:flex;
	flex-direction:row;
}

#buttons button {
	flex: 1 1 auto;
}
