#app {
	text-align: center;
	display: block;
	margin: auto;
	width: 85%;
	padding-top: 15px;
	padding-bottom: 25px;
}

#weather {
	min-height: 150px;
	margin-top: 25px;
}

fieldset {
	border: none;
}
